{% extends 'blog/base.html' %}

{% block content %}
<div class="table-responsive-lg">
    <table class="table table-striped table-bordered table-dark">
            <thead class="thead-dark">
                <tr class="table-dark">
                        <th scope="col">genere</th>
                        <th scope="col">specie</th>
                        <th scope="col">autore</th>
                        <th scope="col">var_f</th>
                        <th scope="col">autore_var</th>
                        <th scope="col">data_verifica</th>
                        <th scope="col">comune_provincia</th>
                        <th scope="col">localita</th>
                        <th scope="col">Altezza_slm</th>
                        <th scope="col">data</th>
                        <th scope="col">principali_specie_vegetali</th>
                        <th scope="col">note</th>
                        <th scope="col">tipologia_di_terreno</th>
                        <th scope="col">raccolto_da_legit</th>
                        <th scope="col">determinato_da_determinavit</th>
                        <th scope="col">indicazione_cartografica_igm</th>
                        <th scope="col"></th>
                        <th scope="col"></th>

                </tr>
            </thead>
        {% for fungo in fungos %}
            <div class="post">
                <tr>
                    <td>{{fungo.genere}}</td>
                    <td>{{fungo.specie}}</td>
                    <td>{{fungo.autore}}</td>
                    <td>{{fungo.var_f}}</td>
                    <td>{{fungo.autore_var}}</td>
                    <td>{{fungo.data_verifica}}</td>
                    <td>{{fungo.comune_provincia}}</td>
                    <td>{{fungo.localita}}</td>
                    <td>{{fungo.Altezza_slm}}</td>
                    <td>{{fungo.data}}</td>
                    <td>{{fungo.principali_specie_vegetali}}</td>
                    <td>{{fungo.note}}</td>
                    <td>{{fungo.tipologia_di_terreno}}</td>
                    <td>{{fungo.raccolto_da_legit}}</td>
                    <td>{{fungo.determinato_da_determinavit}}</td>
                    <td>{{fungo.indicazione_cartografica_igm}}</td>
                    <td><a href="{% url 'fungo_edit' pk=fungo.pk %}"><span class="glyphicon glyphicon-edit"></span></a></td>
                    <td><a href="{% url 'fungo_remove' pk=fungo.pk %}"><span class="glyphicon glyphicon-remove"></span></a></td>
                </tr>
            </div>
        {% endfor %}
    </table>
</div>
{% endblock %}

